{% extends "base.html" %}


{% block title %}Products{% endblock %}


{% block contant %}
 <style>
    .hide-footer{
        display: none;
    }
 </style>


{% for cat_label, products in grouped.items %}

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
        <h4 class="text-uppercase">{{ cat_label }}</h4>
        <a href="{% url 'products' %}" class="btn-link">View All Products</a>
      </div>
      {% if products %}
      <div class="swiper product-swiper open-up" data-aos="zoom-out">
        <div class="swiper-wrapper d-flex">

            {% for prod in products %}

          <div class="swiper-slide">
            <div class="product-item image-zoom-effect link-effect">
              <div class="image-holder position-relative">
                <a href="{% url 'prod_details' prod.id %}">
                  <img src="/media/{{ prod.prod_images.first.image }}" alt="categories" class="product-image img-fluid" style="height: 294px; width: 294px;">
                </a>
                <a href="index.html" class="btn-icon btn-wishlist">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-5 mt-3">
                    <a href="{% url 'prod_details' prod.id %}">{{prod.pname}}</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>${{ prod.price }}</span></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

      {% else %}
      <p>No products found in this category.</p>
      {% endif %}


      <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-left"></use>
        </svg></div>
      <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
          <use xlink:href="#arrow-right"></use>
        </svg></div>
    </div>
  </section>
{% endfor %}




{% endblock %}