{% extends "base.html" %}


{% block title %}Open Products{% endblock %}

{% block contant %}

 <style>
    .service-item .p-4 img {
        width: 100%;
        height: 200px;
    }

    .slideInDown input {
        background-color: rgb(238, 238, 238);
    }

       .hide-footer{
        display: none;
    }
</style>


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary " style="border-radius: 20px;">{{ prod.category }}</h1>
        </div>
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="img-fluid position-absolute w-100 h-100"
                                src="/media/{{ prod.prod_images.first.image }}" alt="" style="object-fit: cover; border-radius: 15px;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                        <h1 class="mb-4">Welcome to <span class="text-primary">{{prod.pname}} - ₹{{prod.price}}</span></h1>
                        <p class="mb-4">{{prod.pdesc}}</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Stock - {{prod.stock}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Available - {{prod.available}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Uploaded - {{prod.created_at}}</p>
                            </div>
                           
                      
                            
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'booking' %}">Book Hotel</a>
                    </div>
                </div>
                <div class="row g-4 my-5">
                   {% for image in prod.prod_images.all %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">

                                    <a href="{{ image.image.url }}"> <img src="{{ image.image.url }}"
                                            class="fa-globe text-primary mb-4" alt="{{ hotel.hname }}" style="border-radius: 15px; width: 289px; height: 289px;">
                                </div></a>

                            </div>

                        </div>
                    </div>

                  {% endfor %} 
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}